# SQL Queries on Subsets of Data
This notebook is used for planning out SQL queries to be executed on the full data sets.

## Set Up

In [8]:
# Install packages
!pip install ipython-sql
!pip install psycopg2-binary

Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: ipython-genutils in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython-sql) (1.10.0)
Collecting prettytable
  Using cached prettytable-2.5.0-py3-none-any.whl (24 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython-sql) (1.4.48)
Requirement already satisfied: ipython>=1.0 in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython-sql) (6.1.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: setuptools>=18.5 in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (36.5.0.post20170921)
Requirement already satisfied: jedi>=0.10 in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.10.2)
Requirement already satisfied: decorator in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.1.2)
Requirement already satisfied: pickleshare in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: prompt_toolkit<2.0.0,>=1.0.4 in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (1.0.15)
Requirement already satisfied: pygments in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: colorama in c:\users\norpotatos\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.9)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\norpotatos\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.2)
Requirement already satisfied: importlib-metadata in c:\users\norpotatos\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.8.3)
Requirement already satisfied: wcwidth in c:\users\norpotatos\anaconda3\lib\site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\norpotatos\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\norpotatos\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.6.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13554 sha256=875e68107dceb157605e098c9628ff5cce57520172f879d4cccd2d7982297a15
  Stored in directory: c:\users\norpotatos\appdata\local\pip\cache\wheels\11\00\57\e546bd5a658bfe75edfa8584ce66aa7868f742c22cee56ecac
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.4
Requirement already satisfied: psycopg2-binary in c:\users\norpotatos\anaconda3\lib\site-packages (2.9.6)

In [9]:
# Load SQL extension
%load_ext sql

In [10]:
# Get Password
import getpass
password = getpass.getpass()

········

In [11]:
# set this value to your username
dbuser = "postgres"
# set this value to your database's name
dbName = "ChicagoLand"
# set this value to your database's port
port = 5432
# set this value to your database's endpoint
endpoint = "localhost"

In [12]:
def make_conn_str(dbuser, password, endpoint, port, dbName):
    return f"postgresql+psycopg2://{dbuser}:{password}@{endpoint}:{port}/{dbName}"

In [13]:
# Make connection string
conn_str = make_conn_str(dbuser, password, endpoint, port, dbName)
# Limit queries to 100 results.
%config SqlMagic.displaylimit=100
# CONNECT!
%sql $conn_str

In [16]:
%%sql
SELECT * FROM public."ChicagoTaxi" LIMIT 1

 * postgresql+psycopg2://postgres:***@localhost:5432/ChicagoLand
1 rows affected.

[('771053a9bad80a7c1c0d86c5fb785f21207e59c7', 'd0cd60cfd2405562733ddd1ea3aba9be5ce4f20bc622c57029350c1d6e68bd1408f0916305edc1ade79275bd4022b980e22729ac9ca7f859864e8e02d6afc3f8', '2019-07-01 13:45:00 UTC', '2019-07-01 14:00:00 UTC', 753, 2.28, 17031330100, 17031081500, 33, 8, 10.25, 0.0, 0.0, 1.0, 11.25, 'Cash', 'Sun Taxi', 41.859349715, -87.617358006, 'POINT (-87.6173580061 41.859349715)', 41.892507781, -87.626214906, 'POINT (-87.6262149064 41.8925077809)')]

In [18]:
%%sql
SELECT * FROM pay_by_type

 * postgresql+psycopg2://postgres:***@localhost:5432/ChicagoLand
8 rows affected.

[('Unknown', 47.25, 11.8125),
 ('Prcard', 343.0, 18.05263157894737),
 ('Prepaid', 36.25, 36.25),
 ('Dispute', 49.75, 49.75),
 ('No Charge', 14.5, 7.25),
 ('Mobile', 367.84, 16.72),
 ('Credit Card', 11577.890000000003, 25.61480088495576),
 ('Cash', 7259.1900000000005, 14.5474749498998)]